{# #### Sablona pro Twig v.2 - vypis obchodu, pokud muze byt vypsan #### #}

{# dedim od zakladni sablony #}
{% extends "sablona-zaklad.twig" %}

{# pripojuju makra #}
{% import "makra.twig" as makra %}

{# prekryvam blok s produkty obchodu #}
{% block produktyObchodu %}
    {# mam uzivatele a produkty obchodu? #}
    {% if uzivatel and produkty %}
        <h2>Produkty v obchodě</h2>
        <table border='1'>
            <tr><th>Název</th><th>Cena</th><th>Obr.</th><th>Volba</th><th>Akce</th></tr>
            {# prochazim produkty #}
            {% for produkt in produkty %}
                {{ makra.tableRow("obchod",produkt, cycle(['antiquewhite', 'burlywood'], loop.index0) ) }}
            {% endfor %}
        </table>
    {% endif %}
{% endblock produktyObchodu %}

{# prekryvam blok s obsahem kosiku #}
{% block nakupniKosik %}
    {# mam uzivatele a nejake produkty v kosiku? #}
    {% if uzivatel and kos %}
        <h2>Nákupní košík</h2>
        <table border='1'>
            <tr><th>Název</th><th>Cena</th><th>Obr.</th><th>Množství</th><th>Akce</th></tr>
            {# prochazim kosik - vypisu radky a scitam cenu #}
            {% set cena = 0 %}
            {% for pkos in kos %}
                {{ makra.tableRow("kosik", pkos, cycle(['gold', 'lightblue'], loop.index0) ) }}
                {% set cena = cena + (pkos.ks * pkos.cena) %}
            {% endfor %}
        </table>
        {# sectu nakupni kosik #}
        Součet: <b>{{ cena  }} Kč</b><br>
    {% endif %}
{% endblock nakupniKosik %}

{# prekryvam blok s textem #}
{% block text %}
    {% if text %}
        <b class="center">{{ text }}</b>
    {% endif %}
{% endblock text %}

